body {
    background-color: rgb(236, 226, 166);
}

.container {
    width: 205px;
    height: 5%;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
}

p {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 285;
    font-style: normal;
}

button {
    background-color: rgb(121, 241, 9);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 285;
    font-style: normal;
}

div {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 285;
    font-style: normal;
}

